* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  background: url('assets/background.jpeg');
  /* background-size: cover; *  /
  /* background: #D8DBE2; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

ul {
  list-style: none;
}

/* OVERLAY
=========================== */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 99;
}

.first {
  background: #b3b3b3;
}

.second {
  background: #646464;
  left: 33.3%;
}

.third {
  background: #363636;
  left: 66.6%;
}

/* TEXT
=========================== */
.text {
  position: absolute;
  top: 100px;
  left: 100px;
  /* transform: rotate(-90deg); */
}

.text2 {
  position: absolute;
  top: 400px;
  left: 650px;
  /* transform: rotate(-90deg); */
}

/* h1 */
.text h1 {
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -10px;
  margin-bottom: 20px;

  position: relative;
  overflow: hidden;
  height: 150px;
  width: 600px;
}

.text h1 .hidetext {
  position: absolute;
}

/* h2 */
.text h2 {
  position: absolute;
  top: 40px;
  left: -40px;
  color: #8a8a8a;
  z-index: -1;
  font-size: 120px;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
}

/* h3 */
.text h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;

  position: relative;
  overflow: hidden;
  height: 80px;
}
.text h3 .hidetext {
  position: absolute;
}

.text2 h3 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  
  position: relative;
  overflow: hidden;
  height: 60px;
}
.text2 h3 .hidetext {
  position: absolute;
}

/* p */
.text p {
  /* transform: rotate(180deg); */
  width: 300px;
  font-size: 12px;
  margin-top: 30px;
  font-weight: 500;

  position: relative;
  overflow: hidden;
  height: 110px;
}

.text2 p {
  width: 200px;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 500;

  position: relative;
  overflow: hidden;
  height: 70px;
}

.text p .hidetext {
  position: absolute;
}

.text2 p .hidetext {
  position: absolute;
}

/* section */
.section {
  position: absolute;
  top: 400px;
  left: 1000px;
  /* transform: rotate(-90deg); */
}
.content h1 {
  font-size: 32px;
  text-transform: lowercase;
  font-weight: 100;
  line-height: 1;

  position: relative;
  overflow: hidden;
  height: 50px;
}

.content, .content2, .content3 p {
  font-size: 12pt;
  height: 20px;
}

.content2 h1 {
  font-size: 32px;
  text-transform: lowercase;
  font-weight: 100;
  line-height: 1;

  position: relative;
  overflow: hidden;
  height: 50px;
}

.content3 h1 {
  font-size: 32px;
  text-transform: lowercase;
  font-weight: 100;
  line-height: 1;

  position: relative;
  overflow: hidden;
  height: 50px;
}

.content4 h1 {
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 100;
  line-height: 1;

  position: relative;
  overflow: hidden;
  height: 50px;
}

.content5 h1 {
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 100;
  line-height: 1;

  position: relative;
  overflow: hidden;
  height: 50px;
}

.image {
  max-width: 500px;
  max-height: 500px;
  flex: 20%;
  background-size: cover;

  position: relative;
  overflow: hidden;
}